.grid {
    display: grid;
    justify-content: center; 
    grid-template-columns: 400px ;
    max-height: auto;
    grid-gap: 10px;
    margin-top: 100px;

   
}
.grid-item-contact {
    background-color: rgb(227, 212, 212);
   display: inline-block;
   margin: 10px;
   padding: 20px;
   border-radius: 10px;
   padding: 30px;
   font-size: large;
   justify-content: flex-end;
}
.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(0, 197, 148);
}
.button {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(31, 93, 163);
    color: white;
 
}
.robot {
  margin-top: 80px;

}

.google {
    background-color: rgb(236, 235, 235);
margin-top: 20px;
border: 10px;
color: rgb(0, 167, 36);}

.facebook {
    background-color: rgb(236, 235, 235);
    margin-top: 20px;
    border: 10px;
    color: rgb(7, 6, 121);}
